body {
  font-family: Arial, sans-serif;
  text-align: center;
  background-color: rgb(241, 120, 227);
}

.timer {
  font-size: 4rem;
  margin: 20px 0;
}

.controls button {
  margin: 5px;
  padding: 10px 20px;
  font-size: 1rem;
}

.settings {
  margin-top: 20px;
}


  


  
